.extreme{
    background-color: #5b493c;
    color: white;
}

#banner{
    align-items: center;
    padding: 2rem;
}

.left-menu{
    background-color: #fa9b3c;
}

.menu{
    background-color: #c39182;
}

.content{
    align-items: center;
    justify-content: center;
    padding: 5rem;

}

#gray-background{
    background-color: #f2f2f2;
    justify-content: center;
}

.pink-photo{
    background-color: #b86873;
    justify-content: center;
}

.blue-photo{
    background-color: #00a2b6;
    justify-content: center;
}

img {
    max-width: 20vh;
    max-height: 20vh;
}